# More info about this file at https://github.com/terraform-ibm-modules/common-pipeline-assets/blob/main/.github/workflows/terraform-test-pipeline.md#cra-config-yaml
version: "v1"
CRA_TARGETS:
  - CRA_TARGET: "solutions/lsf"
    CRA_IGNORE_RULES_FILE: "cra-tf-validate-ignore-rules.json"
    PROFILE_ID: "48279384-3d29-4089-8259-8ed354774b4a"  # SCC profile ID (currently set to 'CIS IBM Cloud Foundations Benchmark v1.1.0' '1.1.0' profile).
    CRA_ENVIRONMENT_VARIABLES:
      TF_VAR_ssh_keys: "[\"geretain-hpc\"]"
      TF_VAR_remote_allowed_ips: "[\"49.207.216.50\"]"
      TF_VAR_app_center_gui_password: "Craconfig@12345" #pragma: allowlist secret
  - CRA_TARGET: "solutions/scale"
    CRA_IGNORE_RULES_FILE: "cra-tf-validate-ignore-rules.json"
    PROFILE_ID: "48279384-3d29-4089-8259-8ed354774b4a"  # SCC profile ID (currently set to 'CIS IBM Cloud Foundations Benchmark v1.1.0' '1.1.0' profile).
    CRA_ENVIRONMENT_VARIABLES:
      TF_VAR_ssh_keys: "[\"geretain-hpc\"]"
      TF_VAR_remote_allowed_ips: "[\"49.207.216.50\"]"
      TF_VAR_storage_gui_username: "storagegui"
      TF_VAR_storage_type: "evaluation"
      TF_VAR_storage_gui_password: "Stor@ge1234" #pragma: allowlist secret
