---

- name: Log directories | Setup shared base directories
  file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode | default('0755') }}"
    recurse: yes
    owner: lsfadmin
    group: root
  loop:
    - { path: "{{ SHARED_PATH }}/data", mode: '0755' }
    - { path: "{{ SHARED_PATH }}/logs", mode: '0755' }
    - { path: "{{ SHARED_PATH }}/repository-path", mode: '0755' }
    - { path: "{{ SHARED_PATH }}/das_staging_area", mode: '0755' }
  when: inventory_hostname == groups['management_nodes'][0]

- name: Log directories | Create per-host log directory under shared path
  file:
    path: "{{ SHARED_PATH }}/logs/{{ inventory_hostname }}"
    state: directory
    mode: '0777'
    owner: lsfadmin
    group: root
  when: inventory_hostname in groups['management_nodes']

- name: Log directories | Move existing logs to shared per-host directory
  shell: |
    mv {{ LSF_LOGS }}/* {{ SHARED_PATH }}/logs/{{ inventory_hostname }}/ 2>/dev/null || true
  args:
    warn: false
  when: inventory_hostname in groups['management_nodes']

- name: Log directories | Remove original LSF logs directory if it exists
  file:
    path: "{{ LSF_LOGS }}"
    state: absent
  ignore_errors: true
  when: inventory_hostname in groups['management_nodes']

- name: Log directories | Create symlink from shared per-host logs to LSF log path
  file:
    src: "{{ SHARED_PATH }}/logs/{{ inventory_hostname }}"
    dest: "{{ LSF_LOGS }}"
    state: link
    force: true
    owner: lsfadmin
    group: root
  when: inventory_hostname in groups['management_nodes']

- name: Log directories | Ensure correct permissions on per-host logs directory
  file:
    path: "{{ SHARED_PATH }}/logs/{{ inventory_hostname }}"
    state: directory
    mode: '0777'
    recurse: yes
    owner: lsfadmin
    group: root
  when: inventory_hostname in groups['management_nodes']

- name: Log directories | Create symlink to shared data directory
  file:
    src: "{{ SHARED_PATH }}/data"
    dest: "{{ LSF_TOP }}/work/data"
    state: link
    force: yes
  when: inventory_hostname == groups['management_nodes'][0]

- name: Log directories | Ensure ownership of shared data directory
  file:
    path: "{{ SHARED_PATH }}/data"
    state: directory
    recurse: yes
    owner: lsfadmin
    group: root
  when: inventory_hostname == groups['management_nodes'][0]

- name: Log directories | Ensure symlink for das_staging_area under LSF_TOP
  shell: |
    [ -L "{{ LSF_TOP }}/{{ item }}" ] && echo "Symlink exists, skipping." || { \
      [ -d "{{ LSF_TOP }}/{{ item }}" ] && rm -rf "{{ LSF_TOP }}/{{ item }}"; \
      ln -s "{{ SHARED_PATH }}/{{ item }}" "{{ LSF_TOP }}/{{ item }}"; }
  loop:
    - das_staging_area
  when: inventory_hostname == groups['management_nodes'][0]

- name: LoginNode host entry | Read LSF hosts file from shared path
  slurp:
    src: "{{ SHARED_PATH }}/lsf/conf/hosts"
  register: lsf_hosts_file
  when: inventory_hostname == groups['login_node'][0]

- name: LoginNode host entry | Append LSF Login hosts to /etc/hosts
  blockinfile:
    path: /etc/hosts
    create: yes
    marker: "# {mark} LSF HOSTS BLOCK"
    insertafter: EOF
    block: |
      {{ lsf_hosts_file.content | b64decode }}
  become: yes
  when: inventory_hostname == groups['login_node'][0]

- name: LoginNode host entry | Change ownership of /etc/hosts
  ansible.builtin.file:
    path: /etc/hosts
    owner: lsfadmin
    group: root
  become: yes
  when: inventory_hostname == groups['login_node'][0]

- name: Duplicate Logs | Remove duplicate logs from LSF log directory
  shell: |
    rm -rf /opt/ibm/lsflogs/* /opt/ibm/lsflogs/.* 2>/dev/null || true
  args:
    warn: false
  ignore_errors: true
  become: true
  when: inventory_hostname in groups['management_nodes']

- name: Set permissions on LSF event file
  ansible.builtin.file:
    path: "{{ LSF_EVENT }}"
    mode: '0644'
    owner: lsfadmin
    group: lsfadmin
    state: file
  ignore_errors: true
  when: inventory_hostname in groups['management_nodes']

- name: Change ownership and permissions of PEM directory using shell
  ansible.builtin.shell: |
    chown lsfadmin:lsfadmin /tmp/.pem.{{ prefix }} && chmod 775 /tmp/.pem.{{ prefix }}
  become: yes
  args:
    warn: false
  ignore_errors: true
  when: inventory_hostname in groups['management_nodes']
