{
    "IBMCLOUDGEN2_KEY_FILE": "{{ LSF_RC_IC_CONF }}/credentials",
    "IBMCLOUDGEN2_PROVISION_FILE": "{{ LSF_RC_IC_CONF }}/user_data.sh",
    "IBMCLOUDGEN2_MACHINE_PREFIX": "{{ prefix }}",
    "LogLevel": "INFO",
    "ApiEndPoints": {
      "eu-gb": "https://eu-gb.private.iaas.cloud.ibm.com/v1",
      "au-syd": "https://au-syd.private.iaas.cloud.ibm.com/v1",
      "ca-tor": "https://ca-tor.private.iaas.cloud.ibm.com/v1",
      "jp-osa": "https://jp-osa.private.iaas.cloud.ibm.com/v1",
      "jp-tok": "https://jp-tok.private.iaas.cloud.ibm.com/v1",
      "br-sao": "https://br-sao.private.iaas.cloud.ibm.com/v1",
      "us-south": "https://us-south.private.iaas.cloud.ibm.com/v1",
      "eu-de": "https://eu-de.private.iaas.cloud.ibm.com/v1",
      "us-east": "https://us-east.private.iaas.cloud.ibm.com/v1"
     }
}
