{
    "IBMCLOUDGEN2_KEY_FILE": "{{ LSF_RC_IC_CONF }}/credentials",
    "IBMCLOUDGEN2_PROVISION_FILE": "{{ LSF_RC_IC_CONF }}/user_data.sh",
    "IBMCLOUDGEN2_MACHINE_PREFIX": "{{ my_cluster_name }}",
    "LogLevel": "INFO",
    "ApiEndPoints": {
      "eu-gb": "https://eu-gb.iaas.cloud.ibm.com/v1",
      "au-syd": "https://au-syd.iaas.cloud.ibm.com/v1",
      "ca-tor": "https://ca-tor.iaas.cloud.ibm.com/v1",
      "jp-osa": "https://jp-osa.iaas.cloud.ibm.com/v1",
      "jp-tok": "https://jp-tok.iaas.cloud.ibm.com/v1",
      "br-sao": "https://br-sao.iaas.cloud.ibm.com/v1",
      "us-south": "https://us-south.iaas.cloud.ibm.com/v1",
      "eu-de": "https://eu-de.iaas.cloud.ibm.com/v1",
      "us-east": "https://us-east.iaas.cloud.ibm.com/v1"
     }
}