---

# Copy the existing LDAP server certificate to the Ansible controller

- name: LDAP | Ensure the local LDAP certificate directory exists
  file:
    path: "{{ LDAP_CERT_FILES_DIR }}"
    state: directory
    mode: '0755'
  delegate_to: localhost
  run_once: true
  when: LDAP_SERVER_CERT is defined and (LDAP_SERVER_CERT | length > 10)

- name: LDAP | Check if ldap_cacert.pem already exists locally
  stat:
    path: "{{ LDAP_CERT_FILES_DIR }}/ldap_cacert.pem"
  register: ldap_cert_status
  delegate_to: localhost
  run_once: true
  when: LDAP_SERVER_CERT is defined and (LDAP_SERVER_CERT | length > 10)

- name: LDAP | Copy ldap_cacert.pem to the local filesystem if not present
  copy:
    content: "{{ LDAP_SERVER_CERT | replace('\\n', '\n') }}"
    dest: "{{ LDAP_CERT_FILES_DIR }}/ldap_cacert.pem"
    mode: '0644'
  delegate_to: localhost
  run_once: true
  when: LDAP_SERVER_CERT is defined and (LDAP_SERVER_CERT | length > 10) and not ldap_cert_status.stat.exists