[sssd]
config_file_version = 2
services = nss, pam, autofs
domains = default

[nss]
homedir_substring = /home

[pam]

[domain/default]
id_provider = ldap
autofs_provider = ldap

auth_provider = krb5
chpass_provider = krb5

krb5_server = {{ LDAP_SERVER_IP }}
krb5_realm = {{ KERBEROS_REALM }}

ldap_uri = ldap://{{ LDAP_SERVER_IP }}
ldap_search_base = dc={{ BASE_DN | regex_replace('\\..*', '') }},dc={{ BASE_DN | regex_replace('^[^.]+\\.', '') }}

ldap_id_use_start_tls = True
ldap_tls_cacertdir = /etc/openldap/certs
ldap_tls_reqcert = allow

cache_credentials = True
enumerate = False
